In [1]:
import pandas as pd

In [2]:
#data = {"Roll-num": [10,20,30,40,50,60,70], "Age":[12,14,13,12,14,13,15],"NAME":['John','Camili','Rheana','Joseph','Amanti','Alexa','Siri']}

In [3]:
data = pd.read_csv('dataset_Facebook.csv')

In [4]:
block = pd.DataFrame(data)

In [5]:
print("Original Data frame:\n")

Original Data frame:

In [6]:
print(block)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 19 columns]

In [7]:
print(block.loc[[0,1,3]])

   Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441   Photo         2          12             4          3
1            139441  Status         2          12             3         10
3            139441   Photo         2          12             2         10

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                      10460                            19057
3   1.0                      50128                            87991

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                    1457                     1361
3                    2211                      790

   Lifetime Post Consumptions  \
0                         159
1                        1674
3                        1119

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                              11710
3                                              61027

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              6112
3                                             32048

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                               1108
3                                               1386

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        5   130.0   29.0                 164
3       58  1572.0  147.0                1777

In [8]:
print(block.loc[0:3])

   Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441   Photo         2          12             4          3
1            139441  Status         2          12             3         10
2            139441   Photo         3          12             3          3
3            139441   Photo         2          12             2         10

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
1   0.0                      10460                            19057
2   0.0                       2413                             4373
3   1.0                      50128                            87991

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
1                    1457                     1361
2                     177                      113
3                    2211                      790

   Lifetime Post Consumptions  \
0                         159
1                        1674
2                         154
3                        1119

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
1                                              11710
2                                               2812
3                                              61027

   Lifetime Post reach by people who like your Page  \
0                                              1640
1                                              6112
2                                              1503
3                                             32048

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
1                                               1108
2                                                132
3                                               1386

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
1        5   130.0   29.0                 164
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777

In [9]:
#print(block.loc[0:2,['Age','NAME']])

In [10]:
print(block.loc[0:2,['Type','like']])

     Type   like
0   Photo   79.0
1  Status  130.0
2   Photo   66.0

In [11]:
print(block.iloc[[0,1,3,6],[0,2]])

   Page total likes  Category
0            139441         2
1            139441         2
3            139441         2
6            139441         3

In [12]:
import pandas as pd

In [13]:
d1 = {'Name': ['Pankaj', 'Meghna', 'Lisa'], 'Country': ['India', 'India', 'USA'], 'Role': ['CEO','CTO', 'CTO']}

In [14]:
df1 = pd.DataFrame(d1)

In [15]:
print('DataFrame 1:\n', df1)

DataFrame 1:
      Name Country Role
0  Pankaj   India  CEO
1  Meghna   India  CTO
2    Lisa     USA  CTO

In [16]:
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Pankaj', 'Anupam', 'Amit']})

In [17]:
print('DataFrame 2:\n', df2)

DataFrame 2:
    ID    Name
0   1  Pankaj
1   2  Anupam
2   3    Amit

In [18]:
df_merged = df1.merge(df2)

In [19]:
print('Result Inner Join:\n', df_merged)

Result Inner Join:
      Name Country Role  ID
0  Pankaj   India  CEO   1

In [20]:
print('Result Left Join:\n', df1.merge(df2, how='left'))

Result Left Join:
      Name Country Role   ID
0  Pankaj   India  CEO  1.0
1  Meghna   India  CTO  NaN
2    Lisa     USA  CTO  NaN

In [21]:
print('Result Right Join:\n', df1.merge(df2, how='right'))

Result Right Join:
      Name Country Role  ID
0  Pankaj   India  CEO   1
1  Anupam     NaN  NaN   2
2    Amit     NaN  NaN   3

In [22]:
print('Result Outer Join:\n', df1.merge(df2, how='outer'))

Result Outer Join:
      Name Country Role   ID
0  Pankaj   India  CEO  1.0
1  Meghna   India  CTO  NaN
2    Lisa     USA  CTO  NaN
3  Anupam     NaN  NaN  2.0
4    Amit     NaN  NaN  3.0

In [23]:
import pandas as pd

In [25]:
# assign dataset
csvData = pd.read_csv("records.csv")

In [27]:
# displaying unsorted data frame
print("\nBefore sorting:")

Before sorting:

In [28]:
print(csvData)

   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [29]:
# sort data frame
#csvData.sort_values(["Salary"], axis=0, ascending=[False], inplace=True)
csvData.sort_values(["Salary"],axis=0, ascending=[True], inplace=True)

In [30]:
# displaying sorted data frame
print("\nAfter sorting:")

After sorting:

In [31]:
print(csvData)

   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [32]:
#Transpose
import pandas as pd

In [33]:
df = pd.read_csv('records.csv')

In [34]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [35]:
print(df.T)

             0       1       2       3       4
ID           1       2       3       4       5
Name    Pankaj    Lisa   David     Ram  Anupam
Role    Editor  Editor  Author  Author  Author
Salary   10000    8000    6000    4000    5000

In [36]:
print(df.shape)

(5, 4)

In [37]:
print(df.size)

20

In [38]:
#Shap
import pandas as pd

In [39]:
df = pd.read_csv('records.csv')

In [41]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [42]:
print(df.shape)

(5, 4)

In [43]:
print(df.size)

20